[submodule "public/scripts/extensions/third-party/SillyTavern-WTracker"]
	path = public/scripts/extensions/third-party/SillyTavern-WTracker
	url = https://github.com/bmen25124/SillyTavern-WTracker
	branch = main
[submodule "public/scripts/extensions/third-party/SillyTavern-Flowchart"]
	path = public/scripts/extensions/third-party/SillyTavern-Flowchart
	url = https://github.com/bmen25124/SillyTavern-Flowchart
	branch = main
[submodule "public/scripts/extensions/third-party/SillyTavern-BananaGen"]
	path = public/scripts/extensions/third-party/SillyTavern-BananaGen
	url = https://github.com/welvet/SillyTavern-BananaGen
	branch = main
[submodule "public/scripts/extensions/third-party/SillyTavern-Character-Creator"]
	path = public/scripts/extensions/third-party/SillyTavern-Character-Creator
	url = https://github.com/bmen25124/SillyTavern-Character-Creator
	branch = main
[submodule "public/scripts/extensions/third-party/SillyTavern-WorldInfo-Recommender"]
	path = public/scripts/extensions/third-party/SillyTavern-WorldInfo-Recommender
	url = https://github.com/bmen25124/SillyTavern-WorldInfo-Recommender
	branch = main
